.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color:#f2f2f2;
  /* выше установили ограничения для секции */
}

.logo{
  width: 183px;
  height: 32px;
}

.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 100;
}

.header__title{
  max-width: 730px;
  width: 100%;
  margin-left: 64px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  z-index: 100;
}

.header__subtitle{
  position: absolute;
  bottom: 30px;
  left: 64px;
  max-width: 388px;
  width: 100%;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  z-index: 100;
}

.header__link{
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration{
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 2;
}

.header__square-pic {
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0px;
  z-index: 1;
  object-fit: contain;
}

.description{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.two-columns{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief{
  margin-top: 0px;
  max-width: 175px;
  width: 100%;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text{
  min-width:784px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.two-columns__paragraph{
  margin: 0px 0px 30px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__paragraph:last-child{
  margin: auto;
}

.two-columns__span-accent{
  font-weight: bold;
}

.digits{
  margin: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title{
  width: 60%;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.section-subtitle{
  width: 60%;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

.table{
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  justify-content: space-between;
  margin: auto;
  padding: 0pt;
  list-style-type: none;
}

.table_theme_dark{
  z-index: 1;
}

.table__cell{
  width: 250px;
  margin-top: 60px;
}

.table__heading{
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
  margin: auto;
}

.table__text{
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin: 20px auto 0px;
}

.feynman{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 890px;
  background-color:#f2f2f2;
}

.feynman__image{
  background-image: url(./../images/feynman.png);
  background-size: cover;
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.feynman__title{
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  max-width: 648px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 70px;
  text-align: center;
  z-index: 1;
}

.feynman__subtitle{
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  z-index: 1;
  margin-top: 0px;
}

.feynman__link{
  position: absolute;
  right: 48px;
  top: 50%;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.kaufman{
  position: relative;
  padding: 90px 0px;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.kaufman__triangle{
  background-image: url(./../images/kaufman-triangle.svg);
  background-size: cover;
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0px;
  right: -210px;
}

.section-title_theme_dark{
  color: white;
  z-index: 100;
}

.section-subtitle_theme_dark{
  color: white;
  z-index: 100;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.footer{
  background-color:#1f1f1f;
  color: #ffff;
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  box-sizing: border-box;
}

.footer__columns{
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
}

.footer__column{
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright{
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer{
  width: 183px;
  height: 35px;
}

.footer__author{
  margin: 18px 0px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.footer__column-heading{
  margin: 0px 0px 20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.footer__column-links{
  margin: 0px 0px 16px;
  padding: 0pt;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.footer__column-link{
  margin: 0px;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: white;
  text-decoration: none;
}

.footer__social-icon{
  width: 16px;
  height: 16px;
  margin-right: 10px;
  margin-bottom: -2px;
}
